<section class="hero">
    <div class="hero-content">
        <div class="welcome">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <polyline points="4 17 10 11 4 5"></polyline>
                <line x1="12" y1="19" x2="20" y2="19"></line>
            </svg>
            <span class="welcome-text">Welcome to my Digital Garden</span>
        </div>
        <%- include('./profile') %>
        <p>
            Эксперт в построении эффективных IT-систем и команд. 
            Специализируюсь на масштабировании IT-решений и опимизации бизнес-процессов.
            <br>
            10+ лет опыта в разработке • 5+ лет в управлении
        </p>
        <div class="cta-buttons">
            <a 
                href="https://hh.ru/resume/1924a0b3ff0284e9780039ed1f446c58496643" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="cta-buttons__button_primary cta-buttons__button"
            >
                Резюме на hh.ru
            </a>
            <a 
                class="cta-buttons__button_secondary cta-buttons__button" 
                href="https://t.me/DragorWW"
                target="_blank" 
                rel="noopener noreferrer"
            >
                Написать в Telegram
            </a>
        </div>
    </div>
    <%- include('./terminal') %>
</section> 