<nav class="navbar">
    <div class="container">
        <div class="nav-content">
            <div class="logo">
                <%- include('./assets/logo-header.svg') %>
                <span class="logo-text">ragorWW</span>
            </div>
            <div class="nav-links">
                <a href="#home" class="active">Главная</a>
                <a href="#experience">Мой опыт</a>
                <a href="#contacts">Контакты</a>
                <%- include('./theme-toggle') %>
            </div>
        </div>
    </div>
</nav> 