<div class="profile-container">
    <div class="profile-photo">
        <img src="assets/photo_400x400.jpg" alt="Сергей Андреев">
        <div class="glitch-effect"></div>
    </div>
    <h1>Сергей Андреев <span>Head of Engineering</span></h1>
</div> 