<div class="terminal">
    <div class="terminal__header">
        <div class="terminal__dots">
            <span class="terminal__dots-item terminal__dots-item--red"></span>
            <span class="terminal__dots-item terminal__dots-item--yellow"></span>
            <span class="terminal__dots-item terminal__dots-item--green"></span>
        </div>
        <div class="terminal__title">dragorww.me — -zsh</div>
    </div>
    <div class="terminal__content">
        <div class="terminal-history">
        </div>
    </div>
</div> 