<section class="videos">
    <h2 class="section-title"><span>Интервью и выступления</span></h2>
    <div class="videos__container">
        <div class="videos__card">
            <a
                href="https://www.youtube.com/watch?v=beUOsQL3OiI"
                target="_blank"
                rel="noopener noreferrer"
                class="videos__link"
            >
                <div class="videos__thumbnail-wrapper">
                    <img
                        src="https://img.youtube.com/vi/beUOsQL3OiI/maxresdefault.jpg"
                        alt="Первое видео"
                        class="videos__thumbnail"
                    />
                    <span class="videos__duration">1:07:35</span>
                </div>
                <h3 class="videos__title">Название первого видео</h3>
                <p class="videos__description">Краткое описание первого видео</p>
            </a>
        </div>

        <div class="videos__card">
            <a
                href="https://www.youtube.com/watch?v=Bxa3UeVWvYw"
                target="_blank"
                rel="noopener noreferrer"
                class="videos__link"
            >
                <div class="videos__thumbnail-wrapper">
                    <img
                        src="https://img.youtube.com/vi/Bxa3UeVWvYw/hqdefault.jpg"
                        alt="Второе видео"
                        class="videos__thumbnail"
                    />
                    <span class="videos__duration">45:22</span>
                </div>
                <h3 class="videos__title">Название второго видео</h3>
                <p class="videos__description">Краткое описание второго видео</p>
            </a>
        </div>

        <div class="videos__card">
            <a
                href="https://www.youtube.com/watch?v=isRSeMKzCaA"
                target="_blank"
                rel="noopener noreferrer"
                class="videos__link"
            >
                <div class="videos__thumbnail-wrapper">
                    <img
                        src="https://img.youtube.com/vi/isRSeMKzCaA/maxresdefault.jpg"
                        alt="Третье видео"
                        class="videos__thumbnail"
                    />
                    <span class="videos__duration">32:15</span>
                </div>
                <h3 class="videos__title">Название третьего видео</h3>
                <p class="videos__description">Краткое описание третьего видео</p>
            </a>
        </div>
    </div>
</section>
